<%
const { body } = await _.resolveRoute()
_.breadcrumbs = []
_.ecomUtils.categoriesList(body).forEach(categoryName => {
  const findCategory = category => category.name === categoryName
  const category = (body.categories && body.categories.find(findCategory)) ||
    _.categories.find(findCategory)
  if (category) {
    _.breadcrumbs.push({
      name: _.ecomUtils.name(category),
      link: `/${category.slug}`
    })
  }
})
_.breadcrumbs.push({
  name: _.ecomUtils.name(body),
  link: `/${body.slug}`
})
%>

<% if (_.breadcrumbs.find(({ link }) => (link === '/ultrabar'))) { %>
  <%- await include('@/view') %>
<% } else { %>
<html><head>
<meta http-equiv="refresh" content="0; url='https://www.emporiotiasonia.com.br/<%- body.slug %>'" />
</head><body></body></html>
<% } %>
